.page {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
h1 {
  text-transform: uppercase;
  color: rgb(172, 37, 132);
  text-align: center;
  font-size: 1.6em;
}
p {
  color: rgb(172, 37, 132);
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
span {
  color: rgb(84, 9, 9);
}
.btn {
  padding: 10px;
  width: 150px;
  height: 60px;
  color: white;
  outline: none;
  background-color: rgb(172, 37, 132);
  border: 0px solid rgb(172, 37, 132);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 80px;
}
.rules,
a {
  font-size: 1.6em;
  color: black;
}
/* .btn-div {
  width: 200px;
  height: 70px;
  padding-left: 250px;
} */
.box {
  width: 39%;
  height: 18%;
  padding: 1px;
  position: absolute;
  top: 87%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: blueviolet;
  border-radius: 20px;
}
.cookies,
h2 {
  color: rgb(7, 5, 5);
}
.cookies,
.font-style {
  font-size: 0.6em;
}
h2 {
  font-size: 0.9em;
  text-transform: uppercase;
}
@media screen and (max-width: 1231px) {
  .page {
    width: 49%;
    height: 40%;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  h1 {
    font-size: 0.8em;
  }
  p {
    font-size: 8px;

    padding: 2px;
  }
  .btn {
    padding: 2px;
    width: 90px;
    height: 30px;

    font-size: 0.4em;
    border-radius: 40px;
  }

  .rules,
  a {
    font-size: 8px;
  }
  .box {
    width: 35%;
    height: 18%;
    padding: 1px;
    position: absolute;
    top: 87%;
    left: 81%;

    border-radius: 10px;
  }
  .cookies,
  .font-style {
    font-size: 0.2em;
  }
  h2 {
    font-size: 0.5em;
  }
}
