.list-style {
    list-style: none;
  }
  li {
    text-transform: uppercase;
    color: aqua;
    font-size: 10px;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    font-style: italic;
  }
  .lists {
    width: 100%;
  }
  .footer-page {
    width: 100%;
    height: 5%;
  }
  @media screen and (max-width: 1231px) {
    li {
      font-size: 5px;
  
      padding-left: 10px;
      padding-right: 5px;
    }
    .lists {
      width: 100%;
      padding: 5px;
    }
    .footer-page {
      width: 100%;
      height: 5%;
    }
  }
  @media screen and (max-width: 741px) {
    li {
      font-size: 15px;
      float: none;
      line-height: 20px;
      
      
    }
    .lists {
     
      
      margin: auto;
      width: 40%;
     
      padding: 20px;
    }
    .footer-page {
      width: 100%;
      height: 10%;
      
    }
  }
  @media screen and (max-width:300px) {
    li {
      font-size: 10px;
     
      line-height: 15px;
      
      
    }
    .lists {
     
      
      margin: auto;
      width: 30%;
     
      padding: 10px;
    }
    .footer-page {
      width: 100%;
      height: 10%;
      
    }
    
  }